.w-checkbox {
  display: block;
  margin-bottom: 5px;
  padding-left: 20px;
}

.w-checkbox::before {
  content: ' ';
  display: table;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

.w-checkbox::after {
  content: ' ';
  display: table;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  clear: both;
}

.w-checkbox-input {
  float: left;
  margin-bottom: 0px;
  margin-left: -20px;
  margin-right: 0px;
  margin-top: 4px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-color: #ccc;
  border-bottom-color: #ccc;
  border-left-color: #ccc;
  border-right-color: #ccc;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  width: 12px;
  height: 12px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  border-top-color: #3898ec;
  border-bottom-color: #3898ec;
  border-left-color: #3898ec;
  border-right-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0px 0px 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-color: #ccc;
  border-bottom-color: #ccc;
  border-left-color: #ccc;
  border-right-color: #ccc;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  width: 12px;
  height: 12px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.w-form-formradioinput--inputType-custom.w--redirected-focus {
  box-shadow: 0px 0px 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom.w--redirected-checked {
  border-top-width: 4px;
  border-bottom-width: 4px;
  border-left-width: 4px;
  border-right-width: 4px;
  border-top-color: #3898ec;
  border-bottom-color: #3898ec;
  border-left-color: #3898ec;
  border-right-color: #3898ec;
}

.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.home-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 70vh;
  padding-top: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image {
  width: 80%;
}

.columns {
  display: block;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.heading {
  text-align: center;
}

.question-mark {
  margin-top: 70px;
  margin-bottom: 60px;
  font-size: 10em;
  text-align: center;
}

.home-heading {
  height: 60px;
  margin-bottom: 60px;
  font-size: 5em;
  text-align: center;
  text-transform: uppercase;
}

.div-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-right: 1px solid #000;
  border-left: 1px solid #000;
  opacity: 0.6;
  cursor: auto;
}

.column:hover {
  opacity: 1;
}

.column.home-column {
  opacity: 1;
}

.column-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0.6;
  cursor: auto;
}

.column-2:hover {
  opacity: 1;
}

.column-2.home-column {
  opacity: 1;
}

.column-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0.6;
  cursor: auto;
}

.column-3:hover {
  opacity: 1;
}

.column-3.home-column {
  opacity: 1;
}

.div-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.button {
  margin-top: 40px;
}

.empty-gold-button {
  margin-right: 5px;
  margin-left: 5px;
  padding-right: 30px;
  padding-left: 30px;
  border: 1px solid #db4444;
  background-color: #fff;
  color: #db4444;
  text-align: center;
}

.empty-gold-button.order-buy-button {
  padding-right: 30px;
  padding-left: 30px;
  border-style: solid;
  border-color: #db4444;
  background-color: #fff;
  color: #db4444;
}

.div-block-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.solid-gold-button {
  position: static;
  margin-top: 20px;
  background-color: #ffd31d;
  color: #000;
}

.body {
  font-family: Poppins, sans-serif;
}

.body-2 {
  font-family: Poppins, sans-serif;
}

.container {
  background-color: #fff;
  color: #000;
}

.navbar {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.tab-link-tab-3 {
  background-color: #fff;
  color: #000;
}

.tab-link-tab-3.w--current {
  background-color: #fff;
}

.tab-link-tab-2 {
  background-color: #fff;
  color: #000;
}

.tab-link-tab-2.w--current {
  background-color: #fff;
  color: #000;
}

.tab-link-tab-1 {
  background-color: #fff;
  color: #493939;
}

.tab-link-tab-1.w--current {
  background-color: #fff;
  color: #000;
}

.tab-link-tab-4 {
  background-color: #fff;
}

.tab-link-tab-4.w--current {
  background-color: #fff;
}

.section {
  display: block;
  padding-top: 40px;
  padding-right: 40px;
  padding-left: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.div-block-5 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.grid {
  -webkit-box-pack: start;
  -webkit-justify-content: start;
  -ms-flex-pack: start;
  justify-content: start;
  justify-items: center;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.div-block-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  min-width: 100%;
  padding: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.1);
}

.heading-2 {
  height: auto;
  font-size: 1.5em;
  text-transform: uppercase;
}

.tabs-menu {
  margin-bottom: 20px;
}

.text-block {
  color: #000;
}

.price {
  width: auto;
  opacity: 0.6;
}

.description {
  width: 70%;
  opacity: 0.6;
}

.calories {
  opacity: 0.6;
}

.div-block-7 {
  position: fixed;
  z-index: 3;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.6;
}

.div-block-8 {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  width: 300px;
  height: 300px;
  margin: auto;
  background-color: #fff;
}

.modal-wrapper {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 9999;
  display: none;
  height: 100%;
  padding-top: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  text-align: center;
}

.modal-wrapper.fries-customization-modal {
  display: none;
}

.modal-wrapper.sandwich-modal {
  display: none;
}

.modal-wrapper.belgian-fries-modal {
  display: none;
}

.modal-wrapper.checkout-modal {
  display: none;
}

.modal-wrapper.combo-modal {
  display: none;
}

.modal-wrapper.combo-drink-modal {
  display: block;
}

.modal-wrapper.combo-fries-modal {
  display: none;
}

.modal-wrapper.combo-sandwich-type-modal {
  display: none;
}

.modal-wrapper.combo-falafel-drink-modal {
  display: none;
}

.modal-wrapper.combo-3-modal {
  display: none;
}

.modal-wrapper.falafel-modal {
  display: none;
}

.modal-wrapper.combo-1-modal {
  display: none;
}

.modal-wrapper.combo-2-modal {
  display: none;
}

.customize-wrapper {
  position: relative;
  overflow: scroll;
  width: 450px;
  height: 85vh;
  max-width: 100%;
  margin: auto;
  padding: 20px;
  background-color: #fff;
}

.customize-wrapper.mayo-wrapper {
  height: auto;
}

.heading-3 {
  font-size: 2em;
  text-transform: capitalize;
}

.form-block {
  text-align: left;
}

.heading-4 {
  font-size: 2em;
}

.field-label {
  text-transform: none;
}

.close-link {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: block;
  margin-top: 10px;
  margin-right: 10px;
  color: hsla(0, 0%, 60%, 0.6);
  font-size: 20px;
  text-align: right;
  text-decoration: none;
}

.field-label-2 {
  display: block;
}

.dropdown-link {
  background-color: hsla(0, 0%, 100%, 0);
  cursor: default;
}

.success-message {
  background-color: #fff;
}

.error-message {
  background-color: #fff;
}

.error-message-2 {
  background-color: #fff;
}

.success-message-2 {
  background-color: #fff;
}

.error-message-3 {
  background-color: #fff;
}

.success-message-3 {
  background-color: #fff;
}

.dropdown-list {
  background-color: #f0eeee;
}

.dropdown-list.w--open {
  padding-top: 10px;
  padding-right: 10px;
  padding-left: 10px;
  border-style: none solid solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.dropdown-toggle {
  display: inline-block;
  width: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.1);
}

.dropdown-toggle.w--open {
  border-color: rgba(0, 0, 0, 0.1);
  border-bottom-style: none;
}

.dropdown {
  display: block;
  margin-top: 20px;
}

.image-2 {
  width: auto;
  height: auto;
  min-height: 200px;
  -webkit-filter: saturate(116%) brightness(143%);
  filter: saturate(116%) brightness(143%);
}

.image-2.no-filters {
  min-height: 80px;
  -webkit-filter: none;
  filter: none;
}

.image-3 {
  width: auto;
  height: auto;
}

.image-4 {
  width: auto;
  height: auto;
  max-width: 100%;
}

.div-block-9 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.image-5 {
  max-width: 100%;
}

.image-6 {
  max-width: 80%;
}

.image-7 {
  max-width: 100%;
}

.paragraph {
  padding: 5px 5px 21px;
  border-style: none none solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.1);
  text-align: center;
}

.paragraph-2 {
  padding: 5px;
  border-style: none;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.1);
  text-align: center;
}

.div-block-10 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.image-8 {
  -webkit-filter: saturate(133%) brightness(141%);
  filter: saturate(133%) brightness(141%);
}

.select-field {
  background-color: #fff;
}

@media screen and (max-width: 991px) {
  .home-heading {
    font-size: 4em;
  }
  .menu-button {
    background-color: #fff;
  }
  .menu-button.w--open {
    background-color: #fff;
  }
  .nav-menu {
    background-color: #fff;
  }
  .icon {
    background-color: #fff;
    color: #000;
  }
  .grid {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .heading-2 {
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .home-section {
    height: 50vh;
  }
  .column-3.home-column {
    height: auto;
  }
  .div-block-5 {
    margin-bottom: 20px;
  }
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .description {
    opacity: 0.6;
  }
}

@media screen and (max-width: 479px) {
  .column.home-column {
    height: auto;
  }
  .column-2.home-column {
    height: auto;
  }
  .tab-link-tab-1.w--current {
    text-align: center;
  }
  .section {
    padding-right: 0px;
    padding-left: 0px;
  }
  .div-block-5 {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .div-block-6 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .text-block {
    text-align: center;
  }
  .text-block-2 {
    text-align: center;
  }
  .text-block-3 {
    text-align: center;
  }
  .text-block-4 {
    text-align: center;
  }
  .customize-wrapper {
    width: 300px;
  }
  .div-block-10 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

#w-node-f2aa97a11a28-b59ea536 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-d188a64b68d3-b59ea536 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-bae11c4699f7-b59ea536 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-e6a4f9b5ca6d-b59ea536 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-18d55f25f39d-b59ea536 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-18d55f25f3a7-b59ea536 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-18d55f25f3b1-b59ea536 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-ef72c14480b5-b59ea536 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 3;
  grid-column-start: span 3;
  -ms-grid-column-span: 3;
  grid-column-end: span 3;
}

#w-node-051d48960f7d-b59ea536 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-a167af62ba38-b59ea536 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-cf7dfcfc3252-b59ea536 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

@media screen and (max-width: 767px) {
  #w-node-ef72c14480b5-b59ea536 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 2;
    grid-column-start: span 2;
    -ms-grid-column-span: 2;
    grid-column-end: span 2;
  }
}

@media screen and (max-width: 479px) {
  #w-node-ef72c14480b5-b59ea536 {
    -ms-grid-row: span 1;
    grid-row-start: span 1;
    -ms-grid-row-span: 1;
    grid-row-end: span 1;
    -ms-grid-column: span 1;
    grid-column-start: span 1;
    -ms-grid-column-span: 1;
    grid-column-end: span 1;
  }
}

